<!doctype html> {% load static %}
<html>

<head>
    <style>
        input {
            border-radius: 10px !important;
        }
    </style>
    <link rel="stylesheet" href="{% static '/CSS/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/styles.css' %}"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static '/Media/logo.svg' %}" type="image/x-icon">
    <title>TUPC | Registration</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'loginPage' %}">
                    <img src="{% static '/Media/logo.svg' %}" width="37.5" height="37.5" alt="tup_logo"> Technological University of the Philippines - Cavite</a>
            </div>
        </nav>
    </header>
    <div class="container my-4">
        <div class="card">
            <div class="card-header text-center bg-info text-white bg-tup">
                <span class="card-title">User Registration</span>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <fieldset id="personalInfo">
                        <legend class="font-weight-bold text-center">Personal Information</legend>

                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="FN">First Name: </label> {{form.first_name}}
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="LS">Middle Name: </label> {{form.middle_name}}
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="LS">Last Name: </label> {{form.last_name}}
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label for="email">Sex: </label> {{form.sex}}
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label> {{form.emailaddress}}
                        </div>
                        <div class="form-group">
                            <label for="email">Mobile Number: </label> {{form.mobilenumber}}
                        </div>
                        <div class="form-group">
                            <label>Birthday: </label> {{form.birthday}}
                        </div>
                        <div class="form-group">
                            <label for="email">Address: </label> {{form.address}}
                        </div>
                        <div class="form-group">
                            <label for="pass">Password: </label> {{form.password1}}
                        </div>
                        <div class="form-group">
                            <label for="repass">Re-Type Password: </label> {{form.password2}}
                        </div>
                        <div class="form-group">
                            <label for="usertype">Preferred Course: </label> {{form.course}}
                        </div>
                        <div class="form-group">
                            <label for="usertype">Strand: </label> {{form.strand}}
                        </div>
                        <div class="mt-4 text-center">
                            <button type="submit" style="background-color: #EF3A25; color: white;" class="btn px-5">Create Account</button>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="card-footer text-center">
                <a style="color: #EF3A25;" href="{% url 'loginPage' %}">Already have an account? Go to login</a>
            </div>
        </div>
    </div>


    <script src="{% static '/Javascript/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static '/Javascript/js/popper.min.js' %}"></script>
    <script src="{% static '/Javascript/js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>
                    Swal.fire({
                        icon: 'error',
                        title: 'Registration Failed',
                        text: '{{message}}',
                        confirmButtonText: "Ok",
                        confirmButtonColor: '#EF3A25',
                    });
                </script>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS  %}
                <script>
                    Swal.fire({
                        icon: 'success',
                        title: '{{message}}',
                        text: 'Your username is sent in your email account.',
                        confirmButtonText: "Ok",
                        confirmButtonColor: '#EF3A25',
                    }).then(function() {
                        window.location = "{% url 'loginPage' %}";
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>

</html>